<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.sena.jonathan.events2015" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.write_calendar" />

    <permission android:name="co.sena.wsaevents.permission.C2D_MESSAGE" android:protectionLevel="signature"></permission>
    <uses-permission android:name="co.sena.wsaevents.permission.C2D_MESSAGE"></uses-permission>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="com.google.android.c2dm.permission.RECIVE"></uses-permission>
    <uses-permission android:name="ANDROID.PERMISSION.WAKE_LOCK"></uses-permission>

    <application
        android:name=".EventsApplication"
        android:allowBackup="true"
        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".ListaEventosDia"
            android:label="@string/title_activity_lista_eventos_dia" >
        </activity>
        <activity
            android:name=".DetalleActivity"
            android:label="@string/title_activity_detalle" >
        </activity>

        <receiver android:name="com.mixpanel.android.mpmetrics.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"></action>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"></action>
                <category android:name="co.sena.wsaevents"></category>
            </intent-filter>
        </receiver>
    </application>

</manifest>
